# Config folders and metadatas
.vscode/
.vs/

# Executables and libraries
*.exe
*.so
*.a
*.lib

# Build folders
[Bb]uild*/
[Rr]elease*/
[Dd]ebug*/

# Archives
*.zip
*.7z

# Python cache
__pycache__/*
__pycache__*

# Rust targets
target/*

# Cache directories, if any
*.cache*